<div class="container">
    <div class="top">
        <h3>Fullness: </h3> &nbsp;
        <h3>Happiness:</h3> &nbsp;
        <h3>Meals: </h3> &nbsp;
        <h3>Energy: </h3> &nbsp;
    </div>

    <div class="box">

        <img src='~/images/pug.gif' alt="PetGif">
        <p></p>
    </div>

    
    <button><a href="">Feed</a></button>

    <button><a href="">Play</a></button>

    <button><a href="">Work</a></button>

    <button><a href="">Sleep</a></button>
</div>